$black:#212529;
$red:#FB0000;
@font-face {
    font-family: 'Inconsolata', monospace;
    src: url(../fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-LightItalic.ttf);
}
*{
    box-sizing: border-box;
margin: 0px;
padding: 0px;
   
}
h1,h2,h3{
    font-family: 'Inconsolata', monospace;
}
a{ color: white;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}
p{
    font-family: 'Roboto', sans-serif;}
header{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
   width: 100%;
      img {width: 50%;
       
      }
       
    }
    .links { width: 100%;
        display: flex;
        justify-content: space-between;
        .nav{ width: 100%;
            ul{
                display: flex;
                justify-content: flex-end;
                font-family: 'Roboto', sans-serif;
                list-style-type: none;
                color: whitesmoke;
             li {
               margin: 10px 10px;
              display: flex;
              align-items: center;
              position: relative;
        
               
            }
            a{ padding: 10px 0px;
                color: white;
                font-size: 1.1em;
                font-family: 'Inconsolata', monospace;
                &:hover{
                    color: $red;
                }
             }
            }   
            li:hover .submenu {
                display: block;
           
               
            }     
             .submenu{
                width: 170px;
               left: 10;
               top: 95%;
               background-color: $black;
                display: none;
                border: 1px solid ;
                border-radius: 5px;
                flex-direction: column;
              
                position: absolute;
                li{
                    padding: 0px;
                    margin: 0px;
                }
                a{  
                    width: 100%;
                    border-bottom: 1px solid white;
                    display: block;
               margin: 5px;
                    padding: 10px 0px;
                color: white;
                font-size: 1.1em;
                font-family: 'Inconsolata', monospace;
                &:hover{
                    color: $red;
                }

            
                  
                }
             }  
          }
          .div{ display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 30%;
           background-color: $red !important;
            margin-left: 20px;
            font-size: 20px;
            a{
               text-align: center;
            }

          }    
    }
 
}
#main{
    width: 100%;

 
   background-color: black; 
   .img{width: 100%;
    img{
        width: 100%;
     
    }
}
   .brica{width:  100%;
 
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1.3fr;

    .card{
       
        
      margin-left: 70px;
      margin-bottom: 50px;
        padding: 0px 0px;
        border: 1px  gray;
        border-radius: 5px;
 width: 500px;
 position:static;
 img{
    width: 10%;
 }
  
     
 h2{ margin: 15px 0px;
         color: white;
         font-size: 65px;
         font-weight: bold;
         font-family: 'Roboto', sans-serif;
    
           }
p{
 color: white;
 font-size: 20px;
 margin: 20px 0px;
 
}
a{
color:white;
margin-top: 15px;
font-weight: bold;
font-size: 1.4em;
line-height: 1.5em;
text-decoration: none;
padding: 16px 83px;
border-radius: 5px;
background-color: red;
border: 1px solid gray;
transition: all .4s ease-in-out;
position: relative;

&:hover {
    color:red;
    background-color:white;
    border: 1px solid pink;
}


    }
 }
  
}  }
#container {
    width: 100%;
   margin: 60px 0px;
.card{
  .img{
    width: 400px;
  }
   
}


    .container { width: 100%;
        display: grid;
        gap: 20px;
 grid-template-columns:1fr 1fr 1fr;


 .card1 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

.nike{ width: 76%;
    display: flex;
  align-items: center;
   margin-top: 30px;
   padding: 0px 10px;
   p{text-align: center;
    font-size: 16px;
   line-height: 16px;
    margin: 0px 15px;
    color: #675e5e;

   }
}
    
 }      
     .card2{width: 70%;
        display: flex;
        flex-direction: column;
      justify-content: center;
        align-items:flex-start ;
        h2{
            color:$black;
            font-size: 40px;
            font-weight: 900;
            font-family: 'Roboto', sans-serif;
            line-height: 45px;
              }
  p{
    color: #675e5e;
    font-size: 20px;
    margin: 15px 0px;
    line-height: 1.3em;
    
  }
  a{
   color:red;
  margin-top: 20px;
   font-weight: bold;
   font-size: 1.4em;
   line-height: 1.5em;
   text-decoration: none;
   padding: 12px 44px;
   border-radius: 5px;
   background-color: white;
   border: 1px solid red;
   transition: all .4s ease-in-out;
  

   &:hover {
       color:white;
       background-color:red;
       border: 1px solid pink;
  }
  
  
       }

     } 
 

    }

}
#cmimet{
    
    .cmimet{
       width: 100%;
      display: grid;
      grid-template-columns:  1fr 1fr;
      place-items: center;
       margin-top: 40px;
.img{
    width: 100%;
       display: grid;
       grid-template-columns: 1fr 1fr 2fr;
       img{
        width: 270px;
       }
         
}
   
   .cmimet1{  width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-bottom: 20px;
    h2{
        color:$black;
        font-size: 39px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        border-bottom: 0.1px solid black;
        margin-bottom: 30px;
        padding: 16px 0px;
    
        line-height: 45px;
     
          }
   
          .cmimet2{ 
            .cmimet3{
               
                display: flex;
                justify-content: space-between;
                border-bottom: 0.1px solid #c09eaf; 
                font-family: 'Roboto', sans-serif;
                margin: 10px 10px;
                padding: 17px 0px;
               h3{
                    font-size: 20px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                }
                span {
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    span{
                        color: $red;
                    }
                }
            }
                       
          }

   }
    
}}
    #prices0{
        width: 100%;
        .prices0{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
            margin-top: 40px;
           
            .prices1{  width: 80%;
           
                margin: 0px;
                h2{
                    color:$black;
                    font-size: 39px;
                    font-weight: 900;
                    font-family: 'Roboto', sans-serif;
                    
                    margin-bottom: 30px;
                    padding: 16px 0px;
                
                    line-height: 45px;
                 
                      }
                      .hair{
                        border: 1px solid white;
                        display: flex;
                        justify-content: space-between;
                        font-size: 20px;
                        padding: 20px 10px;
                        background-color: $red;
                        i{ color: white;}
                      }
                    .beard{ 
                        background-color: black;
                        i{ color: white;}
                        margin-top: 20px;
    
                    }
               
                      .prices2{ 
                        .prices3{
                           
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 0.1px solid #c09eaf; 
                            font-family: 'Roboto', sans-serif;
                            margin: 10px 10px;
                            padding: 17px 0px;
                           h3{
                                font-size: 20px;
                                font-family: 'Roboto', sans-serif;
                                font-weight: 400;
                            }
                            span {
                                font-family: 'Roboto', sans-serif;
                                font-size: 20px;
                                span{
                                    color: $red;
                                }
                            }          }
                                   
                      }
            
               }
               .prices-img{
            
                img{
                  width:  100%;
                }
               }
        }
      }
      #card{width: 100%;
        background-image: url(../img/68686899sallon.jpeg);
    
        background-size: cover;
     background-position: center;
        background-repeat: no-repeat;
       margin-top: 100px;
        .container{
            width: 100%;
           
            display: flex;
            align-items: center;
            justify-content: center;
         
       
        .card{width: 320px;
            display: flex;
            flex-direction: column;
          justify-content: center;
            align-items: center;
            border: 1px solid  black;
            border-radius: 10px;
            background-color: #212529;
            margin: 40px 10px;
            padding: 15px 0px;
            
            transition: all 1s ease-in-out ;

            &:hover{
                background-color: white;
                h3{ color:$black ;}
            }
           
            h3{
                color: white;
                padding: 20px 0px;
            }
           p{
            color: #675e5e;
            text-align: center;
            padding: 15px 0px;
           }
        }
           
        }

      }
      .foto{   width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
        margin: 0px;
        padding: 0px;
        imG{ width: 100%;
            display: grid;
         
          
        }
      }
      #costumer{

        width: 100%;
        .title { font-size: 35px;
            font-weight: 900;
            text-align: center;
            padding-top:60px;}
        .costumer{width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            place-items: center;
           margin: 30px 0px;
            
            
         
            .card{
              display: flex;
              flex-direction: column;
              justify-content: center;
             place-items:start ;
                width: 410px;
                border: 0.1px solid rgb(235, 231, 225) ;
                padding: 20px 15px;
               margin-bottom: 50px;
              
                .stars{
                    color:$red;
                    font-size: 20px;
                 padding: 20px 10px;
                }
                p{ font-size: 25px;
         
        
                    padding: 15px 5px;
            }
            
    
        
         
        
        .name{
            display: flex;
          align-items: center;
            
            
            img{
         
            }
            h3{ padding: 8px;
                font-size: 21px;
            }
        }
      }
      .karda{
        border-left-style: none;
       } 
       .karda1{
        border-right-style: none;
       }
     }}
      #footer{width: 100%;
        background-color: black;
        .footer{ width: 100%;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           place-items: center;
           margin: 0px;
            i{
                color: red;
                font-size: 26px;
                
            }
            .cardf{
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 40px 0px;
                padding: 20px 0px;
                h3{
                    color: white;
                    font-size: 22px;
                    margin-top: 15px;
                }
                p{ font-size: 18px;
                    color: #675e5e;
                    margin: 15px 10px;
                }

            }
            .f1{
                width: 70%;
                p{
                    margin: 40px 0px;
                    font-size: 21px;
                    line-height: 27px;
                }
                img{
                    margin-top: 30px;
                }
                i{
                    color: white;
                    margin: 20px 8px;
                    transition: all 1s ease-in-out;
                    &:hover{
                        color: red;
                        font-size: 37px;
                        transform: rotate(360deg);
                       
                    }
                }
            }
            .f2{
                
                
            }

        }
        .copy{
            width: 100%;
            text-align: center;
            p{ border-top: 0.1px solid  #444343;
                color: #675e5e;
                padding: 25px 0px;
            }

        }

      }
@media screen and (max-width: 450px){
    input[type="checkbox"] {
        display: none;
    }

  

    label[for="toggle-menu"] {
        display: block;
        position: absolute;
        top: 30px;
        right: 80px;

        i {
            color: white;
            font-size: 1.5em;
        }
    }

    .toggle-menu:checked+.nav {
        display: block;
        background-color: #675e5e;
       
    }
    header{
    height: auto;
     padding: 20px 0px;
    width: 100%;
  
      flex-direction: column;
      .nav{
        display: none;
        margin-top: 20px;
      }  
      .links{flex-direction: column;
    align-items: flex-start;
}
.logo{width: 80%;
    display: flex;
justify-content:flex-start;
margin: 0px;

   img{
width: 120px;
    height: 45px;
   }
}
      ul {
        flex-direction: column;
        

        li ul {
            display: none;
        }

        li:hover .submenu {
            display: block;
        }
    }
    
      
    }
    #main{ width: 100%;
.brica{
    
    display: grid;
    grid-template-columns: 1fr ;

}

.card{ width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
margin-left: 10px;
    img{
        width: 5%;
    }
    h2{  width: 80%;
      
        font-size: 49px !important;
       
    }
    a{
        padding: 12px 64px !important;
        box-shadow: 1px 1px 1px 2px whitesmoke;
    }
}
.img{
    display: none;
}
    }
    #container{width: 100%;
       .container{  
        grid-template-columns: 1fr ;
      place-items: center;
      
       }
       .card1{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
       
        .nike{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
           img{
            width: 20%;
           }
        }
        
       }

       .card{width: 100%;
        display: flex;
     
        justify-content: flex-start;
        align-items: flex-start;
      

       }
       .card2 {display: flex;
 justify-content: center;
        align-items: center;
        h2{
            font-size: 30px !important;
        }
       }


    }
    #cmimet{
        width: 100%;
        .cmimet{ width: 100%;
            grid-template-columns: 1fr;
        }
        .cmimet1{ width: 350px !important;
            h2{
                font-size: 30px !important;
            }
          
        }
        .img{ 
            grid-template-columns: 1fr;
         img{
           display: none;
         }
        }
    }
#prices0{width: 100%;
    .prices0{ 
        grid-template-columns: 1fr;
        place-items: center;
    }
    .prices1{ width: 350px !important;
        h2{
            font-size: 30px !important;
        }

    }
    .prices-img{
width: 90%;
        img{margin-top: 20px;
          margin-left: 0px;
            width: 360px !important;
        }
       }
}
#card{
    width: 100%;
    .container{ width: 100%;
        flex-direction: column;
      padding: 20px 0px !important;
      background-color: rgb(49, 49, 49);
    }
    .card{
        width: 350px !important;
        padding: 30px 25px;
        margin: 6px  0px  !important;

    }

}
#costumer{width: 100%;
    h2{ font-size: 26px;}
    .costumer{ width: 90%;
        flex-direction: column;
        margin-bottom: 10px;
    
    .card{
        width: 300px;
        p{
            font-size: 15px;
        }
    }}
}
#footer{width: 100%;
    .footer{ grid-template-columns:  1fr;
        place-items: center;

    }
}

}
// desktopi
// desktopi
@media screen and (min-width: 800px) {
    label[for="toggle-menu"],
    input[type="checkbox"] {
        display: none;
    }

    header{ width: 100%; 
        height: 70px;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    .links{
        flex-direction: row;
    }
}
 #main{ width: 100%;
  
   .brica{ 
    grid-template-columns: 1fr 1.3fr;
   }
   
    }
  



#prices0{
    width: 100%;
   
    .prices0{  grid-template-columns: 1fr 1fr;

       
         
    }
  
}
#card{
    width: 100%;
    flex-direction: row;
}
#costumer{
width: 100%;
flex-direction: row;

}
#footer{
    width: 100%;
  .footer{  grid-template-columns: 1fr 1fr 1fr;
  }}

}

    

      